# {{ ansible_managed }}
# {{ ansible_managed }}

upstream django {
  server unix:{{ uwsgi_socket_path }};
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name www.{{ app_domain }};
  charset utf-8;

  ssl_certificate {{ le_fullchain_path }};
  ssl_certificate_key {{ le_privkey_path }};
  ssl_trusted_certificate {{ le_chain_path }};

  ssl_stapling on;
  ssl_stapling_verify on;

  # FIXME-dns resolver should be running on localhost
  resolver 208.67.222.222 208.67.220.220;  # OpenDNS servers
  # resolver 8.8.8.8 8.8.4.4;  # Google DNS servers

  access_log {{ nginx_access_log_file }};
  error_log {{ nginx_error_log_file }};

  location /media/ {
    alias {{ django_media_root }}/;
  }

  location /static/ {
    alias {{ django_static_root }}/;
  }

  location / {
    uwsgi_pass django;

    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    uwsgi_param  QUERY_STRING       $query_string;
    uwsgi_param  REQUEST_METHOD     $request_method;
    uwsgi_param  CONTENT_TYPE       $content_type;
    uwsgi_param  CONTENT_LENGTH     $content_length;

    uwsgi_param  REQUEST_URI        $request_uri;
    uwsgi_param  PATH_INFO          $document_uri;
    uwsgi_param  DOCUMENT_ROOT      $document_root;
    uwsgi_param  SERVER_PROTOCOL    $server_protocol;
    uwsgi_param  REQUEST_SCHEME     $scheme;
    uwsgi_param  HTTPS              $https if_not_empty;

    uwsgi_param  REMOTE_ADDR        $remote_addr;
    uwsgi_param  REMOTE_PORT        $remote_port;
    uwsgi_param  SERVER_PORT        $server_port;
    uwsgi_param  SERVER_NAME        $server_name;
  }
}

{% if app_env == 'prod' %}
# redirect non-www to www
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ app_domain }};

    ssl_certificate {{ le_fullchain_path }};
    ssl_certificate_key {{ le_privkey_path }};
    ssl_trusted_certificate {{ le_chain_path }};

    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 208.67.222.222 208.67.220.220;  # OpenDNS servers
    # resolver 8.8.8.8 8.8.4.4;  # Google DNS servers

    location / {
        return 302 https://www.{{ app_domain }}$request_uri;
    }
}
{% endif %}

# redirect http to https
server {
    listen 80;
    listen [::]:80;
{% if app_env == 'prod' %}
    server_name {{ app_domain }} www.{{ app_domain }};
{% else %}
    server_name {{ app_domain }};
{% endif %}

    root {{ nginx_sites_dir }};

    # allow letsencrypt challenges over http
    location /.well-known/acme-challenge/ {
        try_files $uri $uri/ =404;
    }

    # redirect everything else to https
    location / {
        return 302 https://$server_name$request_uri;
    }
}
